{% extends 'base.html' %}

{% block title %}Nueva Reserva | ReservA{% endblock %}

{% block content %}
<a href="{% url 'inicio' %}">← Volver</a>
<div class="mi-formulario">
    <h2>Reservar Mesa</h2>
    <hr>

    <form method="POST" action="{% url 'crear_reserva' %}">
        {% csrf_token %}

        <p>Número de personas:</p>
        <input type="number" name="cantidad_personas" min="1" max="20" placeholder="Ej: 4" required value="{{ datos.cantidad_personas }}">

        <p>Fecha:</p>
        <input type="date" name="fecha" required value="{{ datos.fecha }}">

        <p>Hora:</p>
        <input type="time" name="hora" required value="{{ datos.hora }}">

        <p>Notas / Observaciones:</p>
        <textarea name="notas" rows="3" placeholder="Ej: Alergias, mesa cerca a la ventana...">{{ datos.notas }}</textarea>

        <button type="submit">CONFIRMAR RESERVA</button>
    </form>
</div>
{% endblock %}