
{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard - ReserVa{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}

<h1>Menú del Restaurante</h1>

{% for p in plato %}
    <div>
        <h2>{{ p.nombre }} - ${{ p.precio }}</h2>
        <p>{{ p.descripcion }}</p>
        <p>Categoría: {{ p.categoria }}</p>
        <hr>
    </div>
{% empty %}
    <p>No hay platos disponibles por el momento.</p>
{% endfor %}




{% endblock %}